body{
    font-family: Arial, sans-serif;
    background:#f5f5f5;
    margin:0;
    text-align:center;
}
h1{
    background:#1565C0;
    color:white;
    padding:20px;
}
p{
    font-size:18px;
}main{
    max-width:800px;
    margin:20px auto;
    background:white;
    padding:20px;
    border-radius:10px;
}

ul{
    list-style:none;
    padding:0;
}

li{
    background:#E3F2FD;
    margin:10px;
    padding:12px;
    border-radius:8px;
    font-size:18px;
}
.subjects{
    display:flex;
    flex-direction:column;
    gap:15px;
    margin:30px;
}

.subjects a{
    background:#1565C0;
    color:white;
    text-decoration:none;
    padding:15px;
    border-radius:10px;
    font-size:20px;
}